<% content_for :title, "Timer" %>

<div class="timer" data-controller="timer" data-timer-date-value="2025-03-08T18:00:00.000Z">
  <div data-timer-target="month"></div>
  <div data-timer-target="day"></div>
  <div data-timer-target="hour"></div>
  <div data-timer-target="minute"></div>
  <div data-timer-target="second"></div>
</div>
