{{$dict := include "./data/wedding.json" | fromJson }}
{{$weddings := get $dict "weddings"}}
{{$name := .Req.URL.Query.Get "name" | default (get $dict "nextWedding") }}
<!DOCTYPE html>
<html>
  <head>
    <title>Wedding Countdown</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="stylesheets/application.css" />
    <link rel="stylesheet" href="stylesheets/timer.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satisfy" />
    <script type="importmap">
      {
        "imports": {
          "luxon": "./js/luxon.js"
        }
      }
    </script>
    <script type="module" src="/js/timer-element.js"></script>
    <script type="module" src="/js/swipe-event.js"></script>
    <script type="module" src="/js/interval-switcher.js"></script>
  </head>
  <body>
    {{range $weddings}}
    {{if eq (lower $name) .name}}
    <timer-element
      class="timer"
      intervals="month day hour minute second"
      date-target="{{ .date }}"
    >
      Loading...
    </timer-element>
    {{break}}
    {{end}}
    {{end}}
  </body>
</html>
