/* from: https://fonts.google.com/specimen/Satisfy */
/* @font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/Satisfy-Regular.ttf) format('truetype');
}*/

.timer {
  font-size: 3em;
  font-weight: 400;
  font-family: 'Satisfy', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;

  p {
    margin: 0;
  }
}
