.timer {
  font-size: 3em;
  font-weight: 600;
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;

  p {
    margin: 0;
  }
}
